body {
	background-color: #f2f2f2; 
	font-family: Arial, sans-serif;
}

h1 {
	color: #00698f; 
	
}

ul {
	list-style: none; 
	padding: 0;
	margin: 0;
}

li {
	background-color: #fff; 
	padding: 10px;
	border-bottom: 1px solid #ddd; 
}

li:hover {
	background-color: #f0f0f0; 
	
}

a {
    color: rgb(0, 0, 253);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    border-radius: 5px; /* add a slight curve to the button */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* add a subtle shadow */
    transition: background-color 0.2s ease; /* add a smooth transition effect */
}

a:hover {
	color: #008cff; 
	background-color: #f7f7f7; /* add a light gray background on hover */
}

a:active {
	background-color: #e7e7e7; /* add a darker gray background on active */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* add a deeper shadow on active */
}
